{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Microsoft Graph examples</h1>
	{if $user->loggedIn}
		<a n:href='Signo365:out' class="btn btn-danger">Logout</a>
	{else}
		<a n:href='Signo365:in' class="btn btn-success">Login</a>
	{/if}
	<a n:href='Graph:userslist' class="btn btn-info">Users list</a>
</div>
