parameters:

constants:
    OAUTH_AUTHORIZE_ENDPOINT: /oauth2/v2.0/authorize
    OAUTH_TOKEN_ENDPOINT: /oauth2/v2.0/token


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter
